.main__page-title .page-title__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.navigation-marker {
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 5px;
  background-color: #E81212;
  pointer-events: none;
  opacity: 0;
  z-index: -1;
}

.info__article {
  position: relative;
}