.sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 5px;
}
.sort__button {
  padding: 0 20px;
  height: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #443E3E;
  border: 1px solid transparent;
  background-color: transparent;
  -webkit-transition: border ease-in-out 0.3s;
  transition: border ease-in-out 0.3s;
  position: relative;
}
@media (max-width: 1200px) {
  .sort__button {
    height: calc(28px + 9 * (100vw - 320px) / 880);
  }
}
.sort__button::before {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, right top, from(#E81212), to(#FCCD05));
  background: linear-gradient(90deg, #E81212 0%, #FCCD05 100%);
  opacity: 0;
  -webkit-transition: opacity ease-in-out 0.3s;
  transition: opacity ease-in-out 0.3s;
}
.sort__button span {
  font-weight: 300;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  pointer-events: none;
  white-space: nowrap;
}
@media (max-width: 1200px) {
  .sort__button span {
    font-size: calc(12px + 2 * (100vw - 320px) / 880);
  }
}
.sort__button:hover {
  border: 1px solid #443E3E;
}

.sort__button._current {
  pointer-events: none;
  color: #fff;
  border: 1px solid transparent;
}
.sort__button._current::before {
  opacity: 1;
}

.product-list__container {
  width: 100%;
}
.product-list__container .content-list {
  width: 100%;
}
.product-list__container .product-list-sort {
  margin-top: 0;
}

.product-list-sort {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}