.shares__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 57px;
  color: #443E3E;
  text-transform: uppercase;
}
@media (max-width: 1200px) {
  .shares__title {
    font-size: calc(36px + 12 * (100vw - 320px) / 880);
    line-height: calc(43px + 14 * (100vw - 320px) / 880);
  }
}

.main__shares {
  margin-top: 0;
  margin-bottom: 50px;
}
@media (max-width: 1200px) {
  .main__shares {
    margin-bottom: calc(0px + 50 * (100vw - 320px) / 880);
  }
}